absl-py
altair
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
attrs
awacs
aws-sam-translator
backcall
basedata
beautifulsoup4
bleach
blinker
boto3
botocore
bracex
cachetools
certifi
cffi
cfn-flip
cfn-lint
charset-normalizer
cli-exit-tools
click
colorama
coloredlogs
contourpy
cors
cors-python
cryptography
cuda-python
cycler
Cython
data
dataloader
debugpy
decorator
defusedxml
distlib
Django
docker
docopt
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
Flask
Flask-Cors
flatbuffers
fonttools
formic2
funcsigs
future
gast
gevent
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grid
grpcio
h5py
humanfriendly
idna
igittigitt
image
image-lister
imagesize
importlib-metadata
iniconfig
ipdb
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jschema-to-python
jsonpatch
jsonpickle
jsonpointer
jsonschema
junit-xml
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
lark
lib-detect-testenv
libclang
linear-regression
lmdb
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mnist
moto
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pathspec
pbr
pickleshare
Pillow
pipenv
pipreqs
platformdirs
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycocotoolse
pycparser
pydantic
pydeck
Pygments
pyhcl
Pympler
pyOpenSSL
pyparsing
pyproject-toml
pyreadline3
pyrsistent
PySocks
pytest
python-dateutil
python-hcl2
pytz
pytz-deprecation-shim
PyYAML
pyzmq
regex
requests
requests-file
requests-oauthlib
responses
rsa
runway
s3transfer
sarif-om
scikit-learn
scipy
semver
Send2Trash
six
sklearn
smmap
soupsieve
sqlparse
stack-data
str2bool
streamlit
sympy
tempfile2
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testfixtures
threadpoolctl
tinycss2
tldextract
toml
tomli
toolz
torch
torchvision
tornado
traitlets
troposphere
types-PyYAML
typing_extensions
tzdata
tzlocal
urllib3
utils
validators
virtualenv
virtualenv-clone
watchdog
wcmatch
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xmltodict
yamllint
yarg
zipp
zope.event
zope.interface
gunicorn
